<main>
  <div>
    <h2>Le monde fantastique de Khäly</h2>
  </div>

  <br>

  <div class="container-src">
    <div class="src"></div>
  </div>
  <div style="font-size: 0.5rem;"><p>Autoportrait</p></div>

  <br>

  <div>
    <p><strong>Khäly, c'est mon nom d'artiste.</strong> Un nom qui suit mes créations artistiques, un nom dans lequel je retrouve ma créativité.
      Après plus d'un an à m'entraîner sur de la photo portrait, je me suis de plus en plus dirigée vers le fantastique.</p>
  </div>

  <br>

  <div>
    <h5>Un monde de magie</h5>
      <p>J'ai toujours eu, depuis mon plus jeune âge, une forte appétence pour l'<strong>univers du fantastique</strong>. Sorcières, vampires, loups-garous, tous ces personnages m'ont toujours fait rêver.
        Une fois que mes compétences techniques ont commencé à être suffisantes pour ce type de photographie, j'ai donc vite voulu <strong>créer mes propres personnages</strong> !</p>
      <p>J'ai été de plus en plus attirée par la photographie graphique, permettant de réaliser de réelles illustrations.
        Car, encore mieux qu'un simple personnage, <strong>il s'agit de créer tout un univers</strong> !</p>
      <p><strong>Chaque shooting est pour moi l'occasion de développer ma créativité.</strong>
        Chaque sujet est différent et m'inspire une vision différente de l'univers que je souhaite créer.</p>
  </div>

  <br>

  <div>
    <h5>Modèle hobbyiste</h5>
      <p>
        Modèle amateur, <strong>je m'entraîne régulièrement sur de l'autoportrait</strong>.
        Je pars toujours du principe que si j'arrive à produire quelque chose de bien en effectuant toutes les tâches (photographe, modèle, retoucheuse), il n'en est que plus facile, tehniquement parlant, lorsque quelqu'un d'autre me sert de modèle.
        De plus, <strong>cet exercice me permet de diriger au mieux mes modèles</strong>, notamment les novices, puisque je me mets régulièrement à leur place.</p>
      <p>D'autre part, je travaille de temps en temps avec d'autres photographes.
        Leur servir de modèle me permet de créer, en équipe, d'autres personnages, d'autres univers imaginés par d'autres photographes.
        <strong>Chaque discussion avec eux m'enrichit, techniquement et artistiquement.</strong> Un vrai bonheur !</p>
      <p>Cette activité me permet aussi de travailler avec des stylistes et maquilleuses, qui apportent encore un autre point de vue, une vision de leur propre monde.</p>
      <p>Si vous souhaitez découvrir mon activité de modèle, <a href="https://www.instagram.com/khalyvala/" target="_blank" style="color: #7f4d72; text-decoration: none; font-weight: bold;">c'est ici !</a></p>
  </div>

</main>
