#collapsibleNavbar {
  align-items: right;
  justify-content: right;
}

.fixed{
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/*
a.nav-link.active {
  padding-right: 1rem;
  padding-left: 1rem;
}
*/

/* mobile screens */
@media screen and (max-width: 575px) {
  .nav-logo {
    display: block;
    padding: 0rem 1rem;
    color: #ffffff;
  }
}

/* desktop screens */
@media screen and (min-width: 576px) {
  .nav-logo {
    display: none;
  }
}

