<section class="portfolio-page">
  <div class="portfolios-area" style="position: relative;">
    <div class="grid-sizer"></div>
    <div class="grid-item portfolio-item __big __wide">
      <div class="portfolio-intro">
        <img src='../../assets/visuels/logo-khalypix.png' style="width: 15rem;">
      </div>
    </div>

    <a href="portfolio-single.html" class="grid-item mix portfolio-item __big set-bg" data-setbg="../../assets/visuels/photos/claire5.jpg" style="background-image: url('../../assets/visuels/photos/claire5.jpg');"></a>

    <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg" data-setbg="../../assets/visuels/photos/melanie1.jpg" style="background-image: url('../../assets/visuels/photos/melanie1.jpg');"></a>

    <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg" data-setbg="../../assets/visuels/photos/juliette2.jpg" style="background-image: url('../../assets/visuels/photos/juliette2.jpg');"></a>

    <a href="portfolio-single.html" class="grid-item mix portfolio-item __big set-bg" data-setbg="../../assets/visuels/photos/claire4.jpg" style="background-image: url('../../assets/visuels/photos/claire4.jpg');"></a>

    <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg" data-setbg="../../assets/visuels/photos/pauline1.jpg" style="background-image: url('../../assets/visuels/photos/pauline1.jpg');"></a>

    <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/priscillia3.jpg" style="background-image: url('../../../assets/visuels/photos/priscillia3.jpg');"></a>

    <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/juliette1.jpg" style="background-image: url('../../../assets/visuels/photos/juliette1.jpg');"></a>

    <a href="../../../assets/visuels/photos/melanie2.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/melanie2.jpg" style="background-image: url('../../../assets/visuels/photos/melanie2.jpg');"></a>
    <a href="../../../assets/visuels/photos/claire2.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/claire2.jpg" style="background-image: url('../../../assets/visuels/photos/claire2.jpg');"></a>
    <a href="../../../assets/visuels/photos/pauline2.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/pauline2.jpg" style="background-image: url('../../../assets/visuels/photos/pauline2.jpg');"></a>
    <a href="../../../assets/visuels/photos/oli3.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/oli3.jpg" style="background-image: url('../../../assets/visuels/photos/oli3.jpg');"></a>

    <a href="#" class="grid-item mix portfolio-item portfolio-next-btn"><h3>Suivez-moi sur Instagram !</h3></a>
  </div>
</section>
