<section class="portfolio-page">
  <div class="portfolios-area" style="position: relative;">
    <div class="grid-sizer"></div>
    <div class="grid-item portfolio-item __big __wide">
      <div class="portfolio-intro">
        <h2>Portfolio</h2>
        <h3>Fantaisy photography</h3>
      </div>
    </div>

    <a id="transp" href="../../assets/visuels/photos/claire3.jpg" class="grid-item mix portfolio-item __big set-bg" data-setbg="../../assets/visuels/photos/claire3.jpg" style="background-image: url('../../assets/visuels/photos/claire3.jpg');"></a>

    <a id="transp" href="../../assets/visuels/photos/priscillia3.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../assets/visuels/photos/priscillia3.jpg" style="background-image: url('../../assets/visuels/photos/priscillia3.jpg');"></a>

    <a id="transp" href="../../assets/visuels/photos/juliette2.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../assets/visuels/photos/juliette2.jpg" style="background-image: url('../../assets/visuels/photos/juliette2.jpg');"></a>

    <a id="transp" href="../../assets/visuels/photos/claire6.jpg" class="grid-item mix portfolio-item __big set-bg" data-setbg="../../assets/visuels/photos/claire6.jpg" style="background-image: url('../../assets/visuels/photos/claire6.jpg');"></a>

    <a id="transp" href="../../assets/visuels/photos/pauline1.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../assets/visuels/photos/pauline1.jpg" style="background-image: url('../../assets/visuels/photos/pauline1.jpg');"></a>

    <a id="transp" href="../../../assets/visuels/photos/melanie2.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/melanie2.jpg" style="background-image: url('../../../assets/visuels/photos/melanie2.jpg');"></a>

    <a id="transp" href="../../../assets/visuels/photos/priscillia1.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/priscillia1.jpg" style="background-image: url('../../../assets/visuels/photos/priscillia1.jpg');"></a>

    <a id="transp" href="../../../assets/visuels/photos/juliette1.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/juliette1.jpg" style="background-image: url('../../../assets/visuels/photos/juliette1.jpg');"></a>

    <a id="transp" href="../../../assets/visuels/photos/autoportrait.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/autoportrait.jpg" style="background-image: url('../../../assets/visuels/photos/autoportrait.jpg');"></a>

    <a id="transp" href="../../../assets/visuels/photos/melanie1.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/melanie1.jpg" style="background-image: url('../../../assets/visuels/photos/melanie1.jpg');"></a>

    <a id="transp" href="../../../assets/visuels/photos/claire2.jpg" class="grid-item mix portfolio-item set-bg" data-setbg="../../../assets/visuels/photos/claire2.jpg" style="background-image: url('../../../assets/visuels/photos/claire2.jpg');"></a>

    <a id="transp" href="https://www.instagram.com/khalypix/" target="_blank" class="grid-item mix portfolio-item portfolio-next-btn"><h3>Suivez-moi sur Instagram !</h3></a>
  </div>
</section>
