<main>

  <div>
    <h2>Photographe et retoucheuse professionnelle</h2>
  </div>

  <br>

  <div>
    [PHOTO]
  </div>

  <br>

  <div class="espace-bienvenue">
    <h1>Bienvenue sur le site de Khäly Pix</h1>
      <br>
    <p class="light">Photographie alternative</p>
    <p class="dark">Réservez vite votre séance !</p>
  </div>

  <br>

  <div>
    <h2>Photographe spécialisée dans le fantastique, basée en Île-de-France.</h2>
    <h3>Shooting en forêt en Île-de-France. Prêt de tenues possible.</h3>
  </div>

</main>
