<main>

  <div>
    <h2>Photographe et retoucheuse passionnée</h2>
  </div>

  <br>

  <div class="container-src">
    <div class="src"></div>
  </div>

  <br>

  <div class="espace-bienvenue">
    <h1>Bienvenue sur le site de Khäly Pix</h1>
      <br>
    <p class="light">Photographie alternative & portrait</p>
    <p class="dark">Réservez vite votre séance !</p>
  </div>

  <br>

  <div>
    <h2>Photographe spécialisée dans le fantastique, basée en Île-de-France.</h2>
    <h3>Shooting en extérieur. Prêt de tenues possible.</h3>
  </div>

  <br>

  <a routerLink="/contact">
    <div class="espace-contact">
      <p class="contact">Contactez<br>Khäly Pix !</p>
    </div>
  </a>

  <br>

  <div>
    <app-carousel [pictures]="pictures"></app-carousel>
  </div>

  <br>

  <a routerLink="/portfolio">
    <div class="portfolio-link-container">
      <p class="portfolio-link">Cliquez ici pour voir d'autres photos</p>
    </div>
  </a>

</main>
